body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-color: #DDDDFFAA; */
}
nav {
    background-color: #DDDDFF00;
    color: white;
    padding: 10px;
    text-align: center;
}
a{
    color: #3344AA;
    text-decoration:none;
    font-weight:bold;
}
.content {
    margin-left: 0%;
    padding: 20px;
    font-size: 20px;
}

/* 双栏设计 */
.columns {
    display:flex;
    flex-wrap: wrap;
}

.left {
    flex: 1;
}

.right {
    flex:1;
    /* min-width: 300px; */
    /* overflow: hidden; */
}

/* 新增移动端适配 */
.mobile-nav { display: none; }

@media (orientation: portrait) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
        display: none;
    }
    .content {
        margin-left: 0;
        padding: 10px;
    }
    .mobile-nav {
        display: block;
        width: 100%;
        padding: 12px;
        background: #3344AA;
        color: white;
        border: none;
        font-size: 16px;
        z-index: 100;
    }
    .chapters {
        background-color: #DDDDFF;
    }
    body {
        background-image: url('background_mobile.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-blend-mode: multiply;
        /* background-color: #DDDDFFAA; */
        }
}